$background-color: #F8F6F0;
$primary-color: #A4B570;
$secondary-color: #9a97da;
$light-text-color: #B4B4B4;
$dark-text-color: black;

$size-h1: 24px;
$size-h4: 14px;
$size-p: 11px;

@font-face {
  font-family: "Space Grotesk";
  src: url("./assets/SpaceGrotesk-VariableFont_wght.ttf") format("trueType");
}

* {
  padding: 0;
  margin: 0;
  font-family: "Space Grotesk", Arial;
  box-sizing: border-box;
  color: $secondary-color;
  /* background-color: $background-color; */
}

a {
  text-decoration: none;
  color: $secondary-color;
  transition: 0.4s;
}

a:hover {
  color: $primary-color;
}
